@import url(//fonts.googleapis.com/css?family=Open+Sans);

/***********     HEADER    **********/
body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #0b0e11;
}

#header {
    height:236px;
    background-color: #181a20;
    
}
#img_logo {
    width:308px;
    height:120px;
}
#lien_logo{
    margin-left: 88px;
    margin-top: 58px;
    width:308px;
    height:120px;
    display: block;
    float: left;
}

#navEtBtns_connexion{
    display:block;
    float: right;
    margin-top: 62px;
    margin-right: 88px;
    height:124px;
}
nav {
    width:720px;
    height: 4px5px;
    margin-top: 76px;
    margin-right:150px;
    color:white;
	display: block;
    float: left;
}
nav :hover{
    color: #fec63d;
}
nav a{
    text-decoration:none;
    font-weight: 600;
    font-size: 21px;
    text-align:center;
    color:white;
    padding-left:15px;
    padding-right:16px;
 }
 .border_right{
     border-right: 2px white solid;
 }

.btns_connexion{
    width:171px;
    height:124px;
    text-align: center;
    display: block;
    float: right;
}
.btns_connexion :hover{
    background-color: #fec63d;
    color:#606060;
}
.btns_connexion a{
    width:171px;
    height:42px;
    margin-bottom: 20px;
    background-color: #606060;
    color: white;
    text-decoration:none;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    border-radius: 12px;
    display:block;
}
