/***********     HEADER    **********/
#header {
    height:117px;
    border: 1px black solid;
}

#lien_logo{
    display: block;
}

#img_logo {
    width:154px;
    height:60px;
}

nav {
    float: right;
}