<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('#tag').keyup(function(){

        $('#search-results').html("")
            const search = $('#tag').val()

            if(search !=""){
                $.ajax({
                    url:"index.php?module=Accueil&action=search",
                    type:"POST",
                    data:{
                        tag:search
                    },
                        dataType: 'html',
                    success:function(result){
                        console.log(result)
                        $('#search-results').html(result)
                    }
                }) 
            } else{
                $('#search-results').html("")
            }
    })
})
</script>
    </body>

</html>