<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Crypt Advisor</title>
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<header id="header">
    <a id="lien_logo" href="index.php"> 
            <img id="img_logo" src="./logo CryptAdvisor.png" alt="Logo de site CryptAdvisor"/> 
    </a>

    <nav>
        <a href="index.php">Accueil</a>
		<a href="cours.php">cours</a>
		<a href="articles.php">Articles</a>
		<a href="forum.php">Forum</a>
        <a href="membre_premium.php">Membre Premium</a>
    </nav>

    <a id="btn_seconnecter" href="connexion.php">
        Se Connecter
    </a>

    <a id="btn_sinscrire" href="connexion.php">
        S'inscrire
    </a>
</header>

<main>


</main>

</html>
